    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:wght@500;600&family=Work+Sans&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
    color: #131313;
    margin: 0px;
}
header{
    padding: 50px 228px 45px 228px;
    background: rgba(255, 144, 14, 0.1);
    
}
.nav-container{
    display: flex;
    justify-content: space-between;
}
.nav-title{
    font-weight: 700;
    font-size: 45px;
}
.nav-options{
    display: flex;
    gap: 40px;
    color: #424242;
    font-weight: 500;
    font-size: 18px;
}
/* --------------------banner section ------------ */
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.banner-title{
    font-weight: 700;
    font-size: 64px;
}
.banner-details{
    margin-top: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}
.btn-explore button{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    background: #FF900E;
    width: 180px;
    height: 64px;
    border-radius: 8px;
    border: none;
    margin-top: 32px;
    margin-bottom: 50px;
}
.banner-pic{
    margin: 0 240px;
    align-items: center;
}
/* -----------------------feature section--------------- */
.feature-container{
    margin: 85px 300px 0px 300px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 73px;
}
.feature-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 24px;
}
.quick-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.quick-list-heading{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 24px;
}
.quick-list-details{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}



